*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(0, 33, 53);
    color: rgb(237, 237, 255);
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    background-color: rgb(142, 7, 29);
    border-radius: 50%;
    border: 1px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(216, 39, 69);
    opacity: 0.7;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 10rem;
    margin-top: 3rem;
}
#user, #comp{
    font-size: 5rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: rgb(0, 30, 49);
    color: rgb(214, 234, 252);
    height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10rem;
}